/* Team */
.team {
  padding: 9.6rem 0;
}

.team-header {
  margin-bottom: 4.8rem;
  max-width: 80rem;
}

.team-header h2 {
  font-size: 3.6rem;
  margin-bottom: 3.2rem;
  line-height: 1.1;
  color: #dedede;
  font-weight: 500;
}

.team-image-large {
  width: 100%;
  border-radius: 1.2rem;
  overflow: hidden;
}

.team-image-large img {
  width: 100%;
  height: auto;
  display: block;
}
